In [1]:
import requests
import pandas as pd
from io import StringIO
from datetime import datetime

In [2]:

EODHD_API_KEY=#REDACTED
curr_pair="MSFT"
exchange="US"

def get_eod_data(symbol=f"{curr_pair}.{exchange}", api_token=EODHD_API_KEY, session=None):
	if session is None:
		session = requests.Session()
		url = f"https://eodhistoricaldata.com/api/eod/{symbol}"
		params = {"api_token": api_token}
		r = session.get(url, params=params)

		if r.status_code == requests.codes.ok:
			df = pd.read_csv(StringIO(r.text), skipfooter=0, parse_dates=[0],engine="python")
		else:
			raise Exception(r.status_code, r.reason, url)
		return df

response_df=get_eod_data()
response_df=response_df.iloc[::-1].reset_index(drop=True)
print("Data length : ", len(response_df))
response_df.iloc[:10]

Data length :  9185

        Date    Open    High     Low   Close  Adjusted_close    Volume
0 2022-08-19  288.90  289.25  285.56  286.15        286.1500  20557200
1 2022-08-18  290.19  291.91  289.08  290.17        290.1700  17186200
2 2022-08-17  289.74  293.35  289.47  291.32        291.3200  18253400
3 2022-08-16  291.99  294.04  290.42  292.71        292.0900  18102900
4 2022-08-15  291.00  294.18  290.11  293.47        292.8484  18085700
5 2022-08-12  288.48  291.91  286.94  291.91        291.2917  22619680
6 2022-08-11  290.85  291.21  286.51  287.02        286.4121  20065939
7 2022-08-10  288.17  289.81  286.94  289.16        288.5475  24687850
8 2022-08-09  279.64  283.08  277.61  282.30        281.7020  23405240
9 2022-08-08  284.05  285.92  279.32  280.32        279.7262  18757820

In [3]:
response_df["AdjustedClose"]=response_df["Adjusted_close"]
response_df.drop("Adjusted_close", axis=1, inplace=True)
response_df=response_df.loc[response_df["Date"].dt.dayofweek <5].reset_index(drop=True)
# response_df=response_df.iloc[:3360]
response_df.iloc[:10]

        Date    Open    High     Low   Close    Volume  AdjustedClose
0 2022-08-19  288.90  289.25  285.56  286.15  20557200       286.1500
1 2022-08-18  290.19  291.91  289.08  290.17  17186200       290.1700
2 2022-08-17  289.74  293.35  289.47  291.32  18253400       291.3200
3 2022-08-16  291.99  294.04  290.42  292.71  18102900       292.0900
4 2022-08-15  291.00  294.18  290.11  293.47  18085700       292.8484
5 2022-08-12  288.48  291.91  286.94  291.91  22619680       291.2917
6 2022-08-11  290.85  291.21  286.51  287.02  20065939       286.4121
7 2022-08-10  288.17  289.81  286.94  289.16  24687850       288.5475
8 2022-08-09  279.64  283.08  277.61  282.30  23405240       281.7020
9 2022-08-08  284.05  285.92  279.32  280.32  18757820       279.7262

In [4]:
# response_df=pd.read_csv("HistoricalData/EURTRY_DailyAdjusted.csv")
# # response_df=response_df.loc[response_df["Volume"]>100]
# # response_df=response_df.iloc[:3360]
# # response_df.iloc[:10]
# print(len(response_df))
# response_df.iloc[-10:]

In [5]:
response_df.to_csv("HistoricalData/"+curr_pair+"_DailyAdjusted.csv", index=False)